<div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="onSub()" class="form">
      <div class="user-box">

     <div class="user-box">
        <input class="input" type="text" id="email" required [(ngModel)]="user.email" name="email"
        placeholder="E-mail address"/>
     </div>

    <div class="user-box">
        <input class="input" type="password" id="passWord" required [(ngModel)]="user.passWord" name="passWord"
        placeholder="password"/>
    </div>

    <a>
      <button type="submit" class="btn btn-success">Submit</button>
    </a>
 </div>
 </form>
    <!-- /form -->
  </div>


  <div [hidden]="!submitted">

  </div> 